* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(red, green, blue);
  transition: 3s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#rgbContainer {
  font-size: 2rem;
  background: black;
  border-radius: 20px;
  padding: 30px 40px;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
